<body>
    <form>  
        <div class="logpage">
            <h3>  SIGN-IN HERE!!! </h3>   
            <label>Email-Id : </label>   <br/>
            <input type="text" placeholder="Enter Email-Id" name="username" required>  <br/>
            <label>Password : </label>   <br/>
            <input type="password" placeholder="Enter Password" name="password" required>  <br/>
            <button type="submit" > <a routerLink ="/updatepage"> SIGN-IN</a></button>   <br/>
               
             <a href="/forgotpassword" style="color: red">Forgot password? </a><br/>
             
        </div>   
    </form> 
</body>
