<body>    
<div class="container">      
    <form>  
        <div class="regpage">  
            <h1>  Happy To Welcome You Amigo!!! </h1> 
            <label>Name: </label>   <br/>
            <input type="text" placeholder="Your Name" name="volunteer_name" required>  <br/>
            <label>Address: </label>   <br/>
            <input type="text" placeholder="Your Address" name="address" required>  <br/>
            <label>Email-Id: </label>   <br/>
            <input type="text" placeholder=" Your Email ID" name="email" required> <br/>
            <label>Phone Number: </label>   <br/>
            <input type="text" placeholder=" Your Phone number" name="phone" required> <br/>
            <label>Choose an outlet you like to volunteer: </label>   <br/>
            <input list= "outlet selection" type="text" placeholder="Select" name="outlet" required>  <br/>
            <datalist id="outlet selection">
                <option value="Madivala">
                <option value="Kochi">
                <option value="Thiruvalla">
            </datalist>
            
            <label>Choose a date you like to volunteer: </label>   <br/>
            <input list= "date selection" type="text" placeholder="Select" name="date" required>  <br/>
            <datalist id="date selection">
                <option value="02/02/2021">
                <option value="03/02/2021">
                <option value="04/02/2021">
            </datalist>
            
            
            
            <button type="submit" onclick="window.location.href='loginpage.html'">REGISTER </button>   <br/>
        </div>   
    </form>
</div>     
</body>     
