<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Outlet Details</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-editpage-form> </app-editpage-form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Outlet Name</th>
                    <th>Street</th>
                    <th>Landmark</th>
                    <th>Available FoodPackets</th>
                    <th>FoodType</th>
                    <th>Required Volunteers</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.OutletName}}</td>
                    <td (click)="populateForm(pd)">{{pd.Street}}</td>
                    <td (click)="populateForm(pd)">{{pd.Landmark}}</td>
                    <td (click)="populateForm(pd)">{{pd.AvailableFoodPackets}}</td>
                    <td (click)="populateForm(pd)">{{pd.FoodType}}</td>
                    <td (click)="populateForm(pd)">{{pd.RequiredVolunteers}}</td>
                    <td (click)="populateForm(pd)">{{pd.Date}}</td>
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.OutletId)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>